*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  height: 75px;
  width: 100%;
  background-color: #2d3d6c;
  display: flex;
  justify-content: space-between;
}
.logo-container{
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
  
}
.logo{
  margin-left: 20px;
  height: 70px;
}
.logo-txt{
  font-size: 30px;
  line-height: 75px;
  padding-left: 10px;
  font-weight: bold;
  color: #dbe0f0;
}
.logo-txt:hover{
  cursor: pointer;
}

.nav-list{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background: #2d3d6c;
  float: right;
  text-align: center;
  transition: all .5s;
}
.nav-list li{
  opacity: 0;
  line-height: 30px;
  margin: 25px 0;
  transition: all .5s;
}
.nav-list li a{
  color: #dbe0f0;
  text-decoration: none;
  font-size: 20px;
}
.nav-list li a.active, .nav-list li a:hover{
  color: #93a3d2;
  transition: .5s ease;
}
.hamburger-btn{
  display: block;
  font-size: 30px;
  color: #93a3d2;
  float: right;
  line-height: 75px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}
#check:checked ~ .nav-list{
  height: 50vh;
}
#check:checked ~ .nav-list li{
  opacity: 1;
}

.firstlayer{
  width: 100%;
  height: 683px;
  background-color: #2d3d6c;
}
.rep{
  width: 100%;

}

.card-img-top{
  border-radius: 50px;
  padding: 20px;
  align-items: center;
}
.card{
  border-radius: 30px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-img-wrap{
  
}
.card-img-top{
  background-color: #93a3d2;
  justify-content: center;
}
.card-body{
  background-color: #2d3d6c;

}
.btn-primary{
  border-radius: 50px;
  width: 120px;
}

h3,h5{
  color: rgb(0, 91, 228);
}
.card-footer{
  background-color: aqua;
}



@media only screen and (min-width: 900px) {

  
    .logo-container{
      margin-left: 25px;
    }

    nav{
      height: 100px;
    }
    .hamburger-btn{
      display:none;
    }
    .nav-list{
      position: relative;
      height: 100px;
      top: 0;
      background: none;
      float: right;
      text-align: right;
      margin-right: 25px;
      transition: none;
    }
    .nav-list li{
      display: inline-block;
      opacity: 1;
      line-height: 100px;
      margin: 0 20px;
      transition: none;
    }
    .nav-list li a.active, .nav-list li a:hover{
      color: #93a3d2;
    }
    .rep{
      width: 700px;
      height: 700px;
      float: right;
      opacity: 1;
      margin-top: -50px;
    }
    
}